#!/usr/bin/env -S bash -x

if test ! $(which brew); then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
    eval "$(/opt/hombrew/bin/brew shellenv)"
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-versions"
tap "jclem/tap"
tap "oven-sh/bun"

brew "bat"
brew "elixir"
brew "fd"
brew "fish"
brew "flyctl"
brew "fzf"
brew "gh"
brew "git"
brew "go"
brew "htop"
brew "httpie"
brew "konk"
brew "jq"
brew "lua-language-server"
brew "neovim"
brew "node"
brew "bun"
brew "ripgrep"
brew "ruby"
brew "tmux"
brew "watchexec"
brew "wget"

# cask "cleanshot"
# cask "iterm2-nightly"
# cask "obsidian"
# cask "raycast"
# cask "visual-studio-code"
EOF
