#!/usr/bin/env -S bash -x

if test ! "$(which brew)"; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

brew bundle --file=/dev/stdin <<EOF
brew "bat"
brew "btop"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "htop"
brew "httpie"
brew "jq"
brew "lazydocker"
brew "neovim"
brew "node"
brew "ripgrep"
brew "watchexec"
brew "wget"
brew "zellij"
brew "zoxide"

tap "cormacrelf/tap"
brew "cormacrelf/tap/dark-notify"

# cask "cleanshot"
# cask "cursor"
# cask "docker"
# cask "ghostty"
# cask "raycast"
EOF
