keybinds {
  normal {
    bind "Ctrl h" { MoveFocusOrTab "left"; SwitchToMode "normal"; };
    bind "Ctrl j" { MoveFocusOrTab "down"; SwitchToMode "normal"; };
    bind "Ctrl k" { MoveFocusOrTab "up"; SwitchToMode "normal"; };
    bind "Ctrl l" { MoveFocusOrTab "right"; SwitchToMode "normal"; };
  }

  pane {
    bind "Ctrl k" { Clear; Write 12; SwitchToMode "normal"; }
  }

  tab {
    bind "Ctrl t" { ToggleTab; SwitchToMode "normal"; }
    bind "c" { NewTab; SwitchToMode "normal"; }
    bind "n" { GoToNextTab; SwitchToMode "normal"; }
    bind "p" { GoToPreviousTab; SwitchToMode "normal"; }
  }
}

theme "tokyonight-storm"
// theme "tokyonight-day"

scroll_buffer_size 100_000

ui {
  pane_frames {
    hide_session_name true
  }
}
