keybinds {
  shared_except "locked" {
    // Resizing
    unbind "Ctrl n" // Resize below; super alt.
    bind "Super Alt  h" { Resize "left"; }
    bind "Super Alt  j" { Resize "down"; }
    bind "Super Alt  k" { Resize "up"; }
    bind "Super Alt  l" { Resize "right"; }

    // Navigation
    unbind "Ctrl h"
    unbind "Ctrl j"
    unbind "Ctrl k"
    unbind "Ctrl l"
    bind "Super Ctrl h" { MoveFocus "left"; }
    bind "Super Ctrl j" { MoveFocus "down"; }
    bind "Super Ctrl k" { MoveFocus "up"; }
    bind "Super Ctrl l" { MoveFocus "right"; }
    bind "Super Ctrl [" { GoToPreviousTab; }
    bind "Super Ctrl ]" { GoToNextTab; }

    // Zen mode
    bind "Super Shift f" { ToggleFocusFullscreen; TogglePaneFrames; }

    // Clear pane
    bind "Super k" { Clear; Write 12; SwitchToMode "normal"; }

    // Modes
    unbind "Ctrl g"
    unbind "Ctrl o"
    unbind "Ctrl p"
    unbind "Ctrl s"
    unbind "Ctrl t"
    // bind "Super g" { SwitchToMode "locked"; } // Currently no need for locked mode.
    bind "Super o" { SwitchToMode "session"; }
    bind "Super p" { SwitchToMode "pane"; }
    bind "Super s" { SwitchToMode "search"; }
    bind "Super t" { SwitchToMode "tab"; }

    // Splits
    bind "Super d" { NewPane "right"; }
    bind "Super Shift d" { NewPane "down"; }
    bind "Super w" { CloseTab; }

    bind "Super n" { NewTab; }
    bind "Super x" { CloseFocus; }

    // Quit
    unbind "Ctrl q"
    bind "Super Alt x" { Quit; }
  }

  pane {
    bind "u" { TogglePaneFrames; SwitchToMode "normal"; }
    bind "h" { MoveFocus "left"; SwitchToMode "normal"; }
    bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
    bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
    bind "l" { MoveFocus "right"; SwitchToMode "normal"; }
  }

  tab {
    bind "Super t" { ToggleTab; SwitchToMode "normal"; }
    bind "c" { NewTab; SwitchToMode "normal"; }
    bind "n" { GoToNextTab; SwitchToMode "normal"; }
    bind "p" { GoToPreviousTab; SwitchToMode "normal"; }
  }
}

// theme "tokyonight-storm"
theme "tokyonight-day"

scroll_buffer_size 100_000
show_startup_tips false

ui {
  pane_frames {
    hide_session_name true
  }
}
