// Default bindings: https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
keybinds clear-defaults=true {
  normal {
    // Pane Navigation
    bind "Super Ctrl h" { MoveFocus "left"; }
    bind "Super Ctrl j" { MoveFocus "down"; }
    bind "Super Ctrl k" { MoveFocus "up"; }
    bind "Super Ctrl l" { MoveFocus "right"; }

    // Pane open/close
    bind "Super d" { NewPane "right"; }
    bind "Super Shift d" { NewPane "down"; }
    bind "Super x" { CloseFocus; }

    // Tab Navigation
    bind "Super Ctrl [" { GoToPreviousTab; }
    bind "Super Ctrl ]" { GoToNextTab; }

    // Tab open/close
    bind "Super n" { NewTab; }
    bind "Super w" { CloseTab; }

    // Resizing
    bind "Super Alt h" { Resize "left"; }
    bind "Super Alt j" { Resize "down"; }
    bind "Super Alt k" { Resize "up"; }
    bind "Super Alt l" { Resize "right"; }

    bind "Super Alt x" { Quit; }

    // Zen mode
    bind "Super Shift f" { ToggleFocusFullscreen; TogglePaneFrames; }

    // Clear focused pane
    bind "Super k" { Clear; Write 12; SwitchToMode "normal"; }
  }

  shared_except "locked" {
    // Mode switching
    bind "Super o" { SwitchToMode "session"; }
    bind "Super p" { SwitchToMode "pane"; }
    bind "Super s" { SwitchToMode "search"; }
    bind "Super t" { SwitchToMode "tab"; }

    // Rarer modes; conflict with OS without modifiers
    bind "Super Shift m" { SwitchToMode "move"; }
  }

  pane {
    bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
    bind "u" { TogglePaneFrames; SwitchToMode "normal"; }
    bind "h" { MoveFocus "left"; SwitchToMode "normal"; }
    bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
    bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
    bind "l" { MoveFocus "right"; SwitchToMode "normal"; }
  }

  renamepane {
    bind "Ctrl c" "Esc" { UndoRenamePane; SwitchToMode "normal"; }
  }

  tab {
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "Super t" { ToggleTab; SwitchToMode "normal"; }
    bind "[" { GoToPreviousTab; }
    bind "]" { GoToNextTab; }
    bind "1" { GoToTab 1; SwitchToMode "normal"; }
    bind "2" { GoToTab 2; SwitchToMode "normal"; }
    bind "3" { GoToTab 3; SwitchToMode "normal"; }
    bind "4" { GoToTab 4; SwitchToMode "normal"; }
    bind "5" { GoToTab 5; SwitchToMode "normal"; }
    bind "6" { GoToTab 6; SwitchToMode "normal"; }
    bind "7" { GoToTab 7; SwitchToMode "normal"; }
    bind "8" { GoToTab 8; SwitchToMode "normal"; }
    bind "9" { GoToTab 9; SwitchToMode "normal"; }
    bind "h" { MoveTab "left"; }
    bind "l" { MoveTab "right"; }
  }

  renametab {
    bind "Ctrl c" "Esc" { UndoRenameTab; SwitchToMode "normal"; }
  }

  move {
    bind "h" { MovePane "left"; SwitchToMode "normal"; }
    bind "j" { MovePane "down"; SwitchToMode "normal"; }
    bind "k" { MovePane "up"; SwitchToMode "normal"; }
    bind "l" { MovePane "right"; SwitchToMode "normal"; }
  }

  search {
    bind "s" { SwitchToMode "entersearch"; }
    bind "n" { Search "down"; }
    bind "p" { Search "up"; }
  }

  entersearch {
    bind "Enter" { SwitchToMode "search"; }
  }

  shared_except "normal" "locked" {
    bind "Enter" "Esc" { SwitchToMode "normal"; }
  }

  shared_among "scroll" "search" {
    bind "h" { HalfPageScrollUp; }
    bind "j" { ScrollDown; }
    bind "k" { ScrollUp; }
    bind "l" { HalfPageScrollDown; }
    bind "d" { PageScrollDown; }
    bind "u" { PageScrollUp; }
    bind "D" { ScrollToBottom; }
    bind "U" { ScrollToTop; }
    bind "q" "Esc" { ScrollToBottom; SwitchToMode "normal"; }
    bind "Enter" { SwitchToMode "normal"; }
  }
}

// theme "tokyonight-storm"
theme "tokyonight-day"

scroll_buffer_size 100_000
show_startup_tips false

ui {
  pane_frames {
    hide_session_name true
  }
}
