<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>Anthropic</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:09:21Z</date>
				<key>entry</key>
				<dict>
					<key>docsetGeneratorSettings</key>
					<dict>
						<key>allowFilters</key>
						<string>https://docs.anthropic.com/en,https://docs.anthropic.com/en/*</string>
						<key>basicIndexEnabled</key>
						<true/>
						<key>cssToInject</key>
						<string>footer {
    display: none !important;
}</string>
						<key>denyFilters</key>
						<string></string>
						<key>docsetKeyword</key>
						<string>anthropic</string>
						<key>docsetName</key>
						<string>Anthropic</string>
						<key>extraInfoPlist</key>
						<string></string>
						<key>isFromLocalFolder</key>
						<false/>
						<key>isFromWebsite</key>
						<true/>
						<key>javaScriptIndexEnabled</key>
						<false/>
						<key>javaScriptUsedToIndex</key>
						<string>const pageTitle = $("title").text();
dashDoc.addEntry({name: pageTitle, type: "Guide"});

$("h1").each(function() {
    const entryName = $(this).text();
    var entryHash = $(this).attr('id');
    if(!entryHash)
    {
        entryHash = entryName.replace(/\W/g, '');
        $(this).attr('id', entryHash);
    }
    dashDoc.addEntry({name: entryName, type: "Section", hash: entryHash});
});</string>
						<key>localFolderPath</key>
						<string></string>
						<key>websiteURL</key>
						<string>https://docs.anthropic.com/en</string>
					</dict>
					<key>name</key>
					<string>Anthropic</string>
					<key>platform</key>
					<string>Other</string>
					<key>uniqueIdentifier</key>
					<string>Anthropic</string>
				</dict>
			</dict>
			<key>Bun</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:09:21Z</date>
				<key>entry</key>
				<dict>
					<key>docsetGeneratorSettings</key>
					<dict>
						<key>allowFilters</key>
						<string>https://bun.com/docs/*,https://bun.com/docs</string>
						<key>basicIndexEnabled</key>
						<true/>
						<key>cssToInject</key>
						<string>footer {
    display: none !important;
}</string>
						<key>denyFilters</key>
						<string></string>
						<key>docsetKeyword</key>
						<string>bun</string>
						<key>docsetName</key>
						<string>Bun</string>
						<key>extraInfoPlist</key>
						<string></string>
						<key>isFromLocalFolder</key>
						<false/>
						<key>isFromWebsite</key>
						<true/>
						<key>javaScriptIndexEnabled</key>
						<false/>
						<key>javaScriptUsedToIndex</key>
						<string>const pageTitle = $("title").text();
dashDoc.addEntry({name: pageTitle, type: "Guide"});

$("h1").each(function() {
    const entryName = $(this).text();
    var entryHash = $(this).attr('id');
    if(!entryHash)
    {
        entryHash = entryName.replace(/\W/g, '');
        $(this).attr('id', entryHash);
    }
    dashDoc.addEntry({name: entryName, type: "Section", hash: entryHash});
});</string>
						<key>localFolderPath</key>
						<string></string>
						<key>websiteURL</key>
						<string>https://bun.com/docs</string>
					</dict>
					<key>name</key>
					<string>Bun</string>
					<key>platform</key>
					<string>Other</string>
					<key>uniqueIdentifier</key>
					<string>Bun</string>
				</dict>
			</dict>
			<key>OpenAI</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:51:56Z</date>
				<key>entry</key>
				<dict>
					<key>docsetGeneratorSettings</key>
					<dict>
						<key>allowFilters</key>
						<string>https://platform.openai.com/docs,https://platform.openai.com/docs/*</string>
						<key>basicIndexEnabled</key>
						<true/>
						<key>cssToInject</key>
						<string>footer {
    display: none !important;
}</string>
						<key>denyFilters</key>
						<string></string>
						<key>docsetKeyword</key>
						<string>openai</string>
						<key>docsetName</key>
						<string>OpenAI</string>
						<key>extraInfoPlist</key>
						<string></string>
						<key>isFromLocalFolder</key>
						<false/>
						<key>isFromWebsite</key>
						<true/>
						<key>javaScriptIndexEnabled</key>
						<false/>
						<key>javaScriptUsedToIndex</key>
						<string>const pageTitle = $("title").text();
dashDoc.addEntry({name: pageTitle, type: "Guide"});

$("h1").each(function() {
    const entryName = $(this).text();
    var entryHash = $(this).attr('id');
    if(!entryHash)
    {
        entryHash = entryName.replace(/\W/g, '');
        $(this).attr('id', entryHash);
    }
    dashDoc.addEntry({name: entryName, type: "Section", hash: entryHash});
});</string>
						<key>localFolderPath</key>
						<string></string>
						<key>websiteURL</key>
						<string>https://platform.openai.com/docs</string>
					</dict>
					<key>name</key>
					<string>OpenAI</string>
					<key>platform</key>
					<string>Other</string>
					<key>uniqueIdentifier</key>
					<string>OpenAI</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Effect-TS/effect</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:11:51Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>Effect-TS/effect</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>Effect-TS/effect</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>github.com/go-chi/chi/v5</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:11:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>github.com/go-chi/chi/v5</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>github.com/go-chi/chi/v5</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>phoenix</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:10:55Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix</string>
				</dict>
			</dict>
			<key>phoenix_live_view</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:10:59Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_live_view</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_live_view</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPythonRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/AppleScript.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-16T13:41:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:06:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:14:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:14:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Chai.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:04:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:14:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:05:21Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:05:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Express.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:05:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:14:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:14:38Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTTP.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:14:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:14:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:14:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lua_5.4.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:06:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:15:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:08:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MomentJS.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:08:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:15:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:08:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:15:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:15:39Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:15:43Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:15:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Redis.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:15:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_3.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:08:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_8.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:08:39Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Rust.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-02T17:08:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SQLite.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:15:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:15:59Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2025-07-15T16:16:03Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<false/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<false/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPythonRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
